
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.box{
    grid-column: span 2;
    border: 1px black solid;
}

.box:nth-child(even){
    grid-column: span 2;
    width: 50%;
}